label
.dropdown-item{
  font-size: 21px;
}
.dropdown-menu .dropdown-menu {
padding: 0px;
}
li.insert-tkb:hover ul{
  display: block;
  position: absolute;

  left:99.5%; 
  top:60px;
}
li.insert-dk:hover ul{
  display: block;
  position: absolute;

  left:99.5%; 
  top:113px;
}
#wrapper {
  margin: 0px auto;
  width: 1700px;
}
section.nav-link{
  width: 240px;
  padding: 5px;

}
div.menu-item-name{
  float: left;
}
i.toggle-function{
  margin-top:20px;
}
#line ul,.function {
  margin-top: 40px;
}
/* ul.line {
  display:flex
} */
 .line li{
  display: inline;
 }
.del{
  padding-top: 0px
}
label{
  font-size: 22px;
}

* {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
  padding: 0px;
}
li input{
  margin-right: 4vw;
}

.day,.begin,.end{
  width: 3.5vw;
}
.name{
  width: 20vw;
  /* width: 350px; */
}
.room{
  width: 7vw;
  /* width: 100px; */
}
input {
  font-size: 24px;
  margin-right: 60px;
  
}
button {
  font-size: 24px;
  margin-right: 40px;
}
ul ul {
  list-style-type: none;
  margin: 0px;
  margin-top: 20px;
  /* display: flex; */
  justify-content: space-between;
  flex-wrap: wrap;
}
i.del{
  margin:0px;
}
#name {
  margin: 0px auto;
}
div.wrapnode{
  margin:0px;
}
div.desnew{
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
  width: 8.7vw;
  position: absolute;
  left:55px;
  top:-10px;
  font-size: 18px;
}
.table p.node {
  width: 50px;
  height: 40px;
  background-color: #7f8fa6;
  text-align: center;
  padding-top: 7px;
  margin: 5px;
  color: white;
  font-size: 21px;
}

.more {
  margin-top: 25px !important;
}
.table {
  max-width: 150%;
  width:80vw ;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}

.table li div:first-child {
  width: 60px;
  position: relative;
  left: 6px;
  font-weight: bold;
  font-size: 20px;
}
.table li div.wrapnode {
  width: 11.5vw;
  position: relative;
  left: 6px;
  font-size: 20px;
}
.table li:last-child div:first-child {
  position: relative;
  left: 14px !important;
}
.a {
  background-color: red;
  width: 50px;
  height: 50px;
}
.run {
  width: 40px;
  position: relative;
}
#line ul li div {
  font-size: 20px;
}
a {
  display: block;
  font-size: 30px;
  text-decoration: none;
}
.info{
  width: 100px;
  /* height: 30px; */
display: block;
padding-top: 24px;
font-size: 22px;
/* display: none; */
}
.info li{
  display: block;
  width: 150px;
  height: 40px;
  padding-top: 12px;
  margin: 5px;
  text-align:right;
}
.bigtable{
  width: 100vw;
  padding-top: 10px;
  display: flex;
  font-size: 20px;
  /* justify-content: space-evenly; */
}
.add-icon{
  font-size:42px;
  margin-top: 1.7%;
  margin-left: 15px;
}
.del-icon{
  font-size:23px;
  margin-top: 20%;
  color: #eb2f06;
}

.smallbox {
  width: 100vw;
}

@media (max-width:1300px) {
  .info{
    display: none;
  }
  .table{
    margin-left: 0px;
  }
  .table li div.wrapnode {
    width: 14vw;
  }
  div.desnew{
    width: 10vw;
    font-size: 18px;
  }
}